.container{
    display:flex;
    justify-content: center;
    width:100%;
}

.wrapper{
    width:100%;
    display: flex;
    flex-direction:column;
    row-gap:0.5rem;
}

.wrapper-row{
    display:flex;
    flex-direction: row;
    column-gap: 1rem;
    padding-bottom:15px;
}

.content-exam{
    width:375px;
    height: 812px;
    background-color: rgba(223, 219, 219, 0.733);
    padding:0px 15px;
    overflow: auto;
    box-shadow: 0 0 10px gray;
}

.product_card{
    background-color: white;
    border-radius: 10px;
    width:50%;
}

.icon_content{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.heart_icon{
    height:30px;
    width:30px;    
    cursor: pointer;
}

.image_product{
    width:100%;
    height:130px;
}

.product_info{
    padding:10px;
}

.name-product{
    font-size:12px;
}